body {

    background-color: burlywood;

}


nav ul {
	-webkit-font-smoothing:antialiased;
	text-shadow:0 1px 0 #FFF;
    background: #ddd;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    float: none;
    margin: auto;
    
    

}
nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 25%;
}
nav a {
    background: saddlebrown;
    color: white;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease; 
    opacity: 0.5;
    
}
nav .dropdown:after {
    content: ' ▶';
}
nav .dropdown:hover:after{
	content:'\25bc'
}
nav li:hover a {
    background: saddlebrown;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
    
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: saddlebrown;
}

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​

img{
    position: relative;
    top: 10%;
    
}

div.fotospudim{
    text-align: center;
    position: relative; 
    top: 50px;
    
}

h1.titulohistoria{
    width:500px;
    text-align: center;
    margin: 0 auto;
    position: relative; 
    top: 50px

}

h1{
    width:500px;
    text-align: center;
    margin: 0 auto;
    position: relative; 
    top: 50px
}
p.paragrafo {
    text-align: justify-all;
    display: inline-block;
}

footer {
    text-align: center;
    position: relative;
    top: 100px;
}

